<div  id="product" >
    
    <h1>Welcome: {{{user.firstName}}} {{{user.lastName}}} || Role: {{{user.role}}}</h1>

    {{#if isAdm}}
    {{#each products}}
    <ul>
        
        <h2>Product: {{{this.title}}}  <button type="button" onclick="deleteButton('{{this._id}}')">X</button></h2>
        <li>description:{{this.description}}</li>
        <li>price:{{this.price}}</li>
        <li>thumbnail:{{this.thumbnail}}</li>
        <li>stock:{{this.stock}}</li>
        <li>category:{{this.category}}</li>
        <button type="button" onclick="addToCart('{{this._id}}')">Add To Cart</button>
    </ul>
    {{/each}}

    <a href="/api/users/admpanel"> Admin Panel |</a>
    <a href="/api/users/profile">Profile |</a>
    <a href="/api/users/logout">Log Out |</a>

    {{#if pagination.prevPage}}
    <a href="?page={{pagination.prevPage}}">⏪{{pagination.prevPage}}</a>
    {{/if}}

    <a>page: {{pagination.page}}</a> 

    {{#if pagination.nextPage}}
    <a href="?page={{pagination.nextPage}}">⏩{{pagination.nextPage}}</a>
    {{/if}}
    </div>

        {{else}}
    {{#each products}}
    <ul>
        
        <h2>Product: {{{this.title}}} </h2>
        <li>description:{{this.description}}</li>
        <li>price:{{this.price}}</li>
        <li>thumbnail:{{this.thumbnail}}</li>
        <li>stock:{{this.stock}}</li>
        <li>category:{{this.category}}</li>
        <button type="button" onclick="addToCart('{{this._id}}')">Add To Cart</button>
    </ul>
    {{/each}}

    <a href="/api/users/profile">Profile</a>
    <a href="/api/users/logout">Log Out</a>

    {{#if pagination.prevPage}}
    <a href="?page={{pagination.prevPage}}">⏪{{pagination.prevPage}}</a>
    {{/if}}

    <a>page: {{pagination.page}}</a> 

    {{#if pagination.nextPage}}
    <a href="?page={{pagination.nextPage}}">⏩{{pagination.nextPage}}</a>
    {{/if}}
</div>
    {{/if}}

  

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/index.js"></script>