<div  id="product" >
    {{#each products}}
    <ul>
        <h1>Product: {{{this.title}}} </h1>
        <li>ID: {{this.id}}</li>
        <li>description:{{this.description}}</li>
        <li>price:{{this.price}}</li>
        <li>thumbnail:{{this.thumbnail}}</li>
        <li>stock:{{this.stock}}</li>
        <button id="delete" type="submit" onclick="deleteButton({{this.id}})">X</button>
    </ul>
    {{/each}}
</div>
