<div>
    <ul>
    <h1>Product:{{{title}}}</h1>

    <li>ID: {{{id}}}</li>
    <li>description:{{{description}}}</li>
    <li>price:{{{price}}}</li>
    <li>thumbnail:{{{thumbnail}}}</li>
    <li>code:{{{code}}}</li>
    <li>stock{{{stock}}}</li>

    </ul>
</div>
