<div  id="product" >
    {{#if users}}
    <h1>Welcome: {{{users.firstName}}} {{{users.lastName}}}</h1>
    {{/if}}
    {{#each products}}
    <ul>
        <h2>Product: {{{this.title}}} </h2>
        <li>description:{{this.description}}</li>
        <li>price:{{this.price}}</li>
        <li>thumbnail:{{this.thumbnail}}</li>
        <li>stock:{{this.stock}}</li>
        <li>category:{{this.category}}</li>
        <button type="button" onclick="addToCart('{{this._id}}')">Add To Cart</button>
    </ul>
    {{/each}}

    <a href="/users/logout">Log Out</a>

    {{#if pagination.prevPage}}
    <a href="?page={{pagination.prevPage}}">⏪{{pagination.prevPage}}</a>
    {{/if}}

    <a>page: {{pagination.page}}</a> 

    {{#if pagination.nextPage}}
    <a href="?page={{pagination.nextPage}}">⏩{{pagination.nextPage}}</a>
    {{/if}}
</div>
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/js/index.js"></script>