<form id="formu" class = "formulario">
    <div class="itemForm">
        <label for="imputText">title</label>
        <input required id="title" type="text" />
    </div>
    <div class="itemForm">
        <label for="imputText">description</label>
        <input required id="description" type="text" />
    </div>
    <div class="itemForm">
        <label for="imputText">price</label>
        <input required id="price" type="number" />
    </div>
    <div class="itemForm">
        <label for="imputText">thumbnail</label>
        <input required id="thumbnail" type="text" />
    </div>
    <div class="itemForm">
        <label for="imputText">code</label>
        <input required id="code" type="text" />
    </div>
    <div  class="itemForm">
        <label for="imputText">stock</label>
        <input required id="stock"type="number" />
    </div>
    <div class="itemForm">
        <label for="inputState">Select a category</label>
        <select name="asdad" id="category">
            <option value="weapons">weapons</option>
            <option value="food">food</option>
        </select>
    </div>

    <div>
        <input type="submit" value="Send">
    </div>
</form>

<div  id="product" >
    {{#each products}}
    <ul>
        <h1>Product: {{{this.title}}} </h1>
        <li>ID: {{this.id}}</li>
        <li>description:{{this.description}}</li>
        <li>price:{{this.price}}</li>
        <li>thumbnail:{{this.thumbnail}}</li>
        <li>stock:{{this.stock}}</li>
        <button id="delete" type="submit" onclick="deleteButton({{this.id}})">X</button>
    </ul>
    {{/each}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>